@import                          "~/.config/rofi/colors.rasi"
@import                          "~/.config/rofi/appmenu/fonts.rasi"

* {
    background-color: @base;
    text-color: @text;
}

window {
    transparency:                "real";
    location:                    center;
    anchor:                      center;
    fullscreen:                  false;
    width:                       600px;
    height:                      500px;

    enabled:                     true;
    margin:                      0px;
    padding:                     0px;
    border:                      2px solid;
    border-radius:               15px;
    border-color:                @accent;
    cursor:                      "default";
}

mainbox {
    enabled:                     true;
    spacing:                     20px;
    margin:                      0px;
    padding:                     30px 20px;
    border:                      0px solid;
    border-radius:               0px 0px 0px 0px;
    border-color:                @accent;
    background-color:            transparent;
    children:                    [ "inputbar", "listview" ];
}

inputbar {
    enabled:                     true;
    spacing:                     10px;
    margin:                      0px;
    padding:                     12px 16px;
    border:                      0px 0px 2px 0px;
    border-radius:               4px;
    border-color:                @accent;
    background-color:            @surface;
    text-color:                  @text;
    children:                    [ "prompt", "entry" ];
}

prompt {
    enabled:                     true;
    background-color:            inherit;
    text-color:                  inherit;
}
textbox-prompt-colon {
    enabled:                     true;
    expand:                      false;
    str:                         ">";
    background-color:            inherit;
    text-color:                  inherit;
}
entry {
    enabled:                     true;
    background-color:            inherit;
    text-color:                  inherit;
    cursor:                      text;
    placeholder:                 "Search";
    placeholder-color:           inherit;
}

listview {
    enabled:                     true;
    columns:                     1;
    lines:                       10;
    cycle:                       true;
    dynamic:                     true;
    scrollbar:                   false;
    layout:                      vertical;
    reverse:                     false;
    fixed-height:                true;
    fixed-columns:               true;
    
    spacing:                     5px;
    margin:                      20px 0 0 0;
    padding:                     0px;
    border:                      0px solid;
    border-radius:               0px;
    border-color:                @accent;
    background-color:            transparent;
    text-color:                  @text;
    cursor:                      "default";
}
scrollbar {
    handle-width:                5px ;
    handle-color:                @accent;
    border-radius:               0px;
    background-color:            @surface;
}

element {
    enabled:                     true;
    spacing:                     10px;
    margin:                      0px;
    padding:                     8px;
    border:                      0px solid;
    border-radius:               8px;
    border-color:                @accent;
    background-color:            transparent;
    text-color:                  @text;
    orientation:                 horizontal;
    cursor:                      pointer;
}
element normal.normal {
    background-color:            transparent;
    text-color:                  @text;
}
element selected.normal {
    background-color:            @surface;
    text-color:                  @text;
}
element-icon {
    background-color:            transparent;
    text-color:                  inherit;
    size:                        24px;
    cursor:                      inherit;
}
element-text {
    background-color:            transparent;
    text-color:                  inherit;
    highlight:                   inherit;
    cursor:                      inherit;
    vertical-align:              0.5;
    horizontal-align:            0.0;
}

error-message {
    padding:                     20px;
    border:                      0px solid;
    border-radius:               0px;
    border-color:                @accent;
    background-color:            @base;
    text-color:                  @text;
}
textbox {
    background-color:            transparent;
    text-color:                  @text;
    vertical-align:              0.5;
    horizontal-align:            0.0;
    highlight:                   none;
}
