# Fichiers temporaires et sauvegardes
*.swp
*.swo
*~
.DS_Store

# Historique Shell (sécurité)
.zhistory
.zsh_history
.bash_history

# Caches et dossiers de runtime
.cache/
node_modules/
__pycache__/
.venv/
dist/
build/

# Neovim
undo/
backups/
swap/

# Secrets et clés (sécurité)
.env
*.pem
*.key
auth.json
